#titulo1{
 width: 100%;
 height: auto;
font-weight: bold;
color: #5c1128;
text-align: center;
margin-bottom: 10%;
background-color: beige;
}
.box2{ color: #5c1128;
    width: 800px; height: 10px; border: 1px; padding: 5px;
}
#box3{
    width: 100% ;
} 
 .fotos{
    width: 200px; 
    height: 130px;
    margin-top: 1.2%;
    margin-bottom: 1%;
    
    }
    .style{
        background-color: #5c1128;

    }
#dog{
    width: 180px;
    height: 130px;
    border-radius: 50%;


}
#secction-apresentacao{
display: flex;
}
.fotos-margem{
    width: 200px; 
    height: 130px;
    margin-top: 1.2%;
    margin-bottom: 1%;
    margin-left: 30%;
}