#titulo1{
 width: 100%;
 height: auto;
font-weight: bold;
color: #4d0c31;
text-align: center;
margin-bottom: 10%;
background-color: beige;
}
.box{
    color: rgb(151, 60, 124);
    width: 100%; height: 50px;

}
.box2{ color: rgb(151, 60, 124);
    width: 100%; height: 10px;
}
#box3{ margin: 12%; 
}